name: 'reactive-commons-ci-cd'
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Verify Conventional Commits
        uses: amannn/action-semantic-pull-request@v5
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up NodeJS
        if: github.ref == 'refs/heads/master'
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Set up Semantic Release
        if: github.ref == 'refs/heads/master'
        run: npm -g install @semantic-release/git semantic-release@25.0.2
      - name: Semantic Release
        if: github.ref == 'refs/heads/master'
        run: npx semantic-release@25.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.PA_TOKEN }}
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - name: Execute build test jacocoTestReport and sonar analysis
        if: endsWith(github.REF, '/master') == true || github.event.pull_request.head.repo.fork == false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew clean build generateMergedReport sonar --refresh-dependencies --no-daemon --continue -Denv.ci=true
      - name: Execute build test jacocoTestReport pull request
        if: github.event.pull_request.head.repo.fork == true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew clean build generateMergedReport --refresh-dependencies --no-daemon --continue -Denv.ci=true